
input{
  display: none;
}
.flip-book img {
  width: 100%;
  height: 85%;
}

.book{
  display: flex;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 5%;

}
.cover{
  display: flex;
  max-width: 50%;
  max-height:400px;
}

/*front page pictue size*/
#cover img{
  min-width: 50%;
  min-height: 100px;
}
label{
  font-family: cursive;
  font-size: 25px;
}

.flex-container{
  display: flex;
}

/*size of full book container with all pages */
.flip-book{
  height: 400px;
  position: relative;
  min-width: 50%;
  min-height: 50%;
}

/*idervidual pages in book, container setting sizes and position */
.flip{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: left;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: .5s;
  color: black;
}

h1{
  font-family: cursive; bold;
  font-size: 40px;
}
h2{
  font-family: cursive;
  font-size: 30px;
  margin-bottom: 0.5%;
}

p{
  margin-top: 0.5%;
  font-size: 14px;
  font-family: cursive;
  line-height: 19px;
}

.front img{
  width: 15%;
  height: 15%;
}
.front{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: antiquewhite;

}
.back{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  background-color: antiquewhite;
}
.next-btn{
  position: absolute;
  bottom: 13px;
  right: 13px;
  cursor: pointer;
  color: black;
}

.back-btn{
  position: absolute;
  bottom: 13px;
  left: 13px;
  cursor: pointer;
  color: black;
}

/*set  decending order and what order they will cover each elements with a large
zindex will overlap thoese with a lower */
#p1{
  z-index: 5;
}
#p2{
  z-index: 4;
}
#p3{
  z-index: 3;
}
#p4{
  z-index: 2;
}
#p5{
  z-index: 1;
}

/*flip page to show back, c1 and p1 states what back matches what front*/
#c1:checked ~ .flip-book #p1{
  transform: rotateY(-180deg);
  z-index: 1;
}
#c2:checked ~ .flip-book #p2{
  transform: rotateY(-180deg);
  z-index: 2;
}
#c3:checked ~ .flip-book #p3{
  transform: rotateY(-180deg);
  z-index: 3;
}
#c4:checked ~ .flip-book #p4{
  transform: rotateY(-180deg);
  z-index: 4;
}
#c5:checked ~ .flip-book #p5{
  transform: rotateY(-180deg);
  z-index: 5;
}
#c6:checked ~ .flip-book #p6{
  transform: rotateY(-180deg);
  z-index: 6;
}


@media screen and (min-width: 540px){

  p{
    margin-top: 0.5%;
    font-size: 20px;
    line-height: 22px;
  }



}
