  

.flex-container {
  display: block;
}

 .intropicture img {
   height: 90%;
   width: 90%;
   margin-left: auto;
   margin-right: auto;
   min-width: 50%;
 }
p img{
  height: 65px;
  width: 65px;
  margin-left: 75%;
  position: relative;
}

 .intropicture {
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  min-width: 50%;
}
.intropicture:active .overlay {
  opacity: 1;
}
 .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: antiquewhite;
}
.Description {
  color: black;
  font-family: cursive;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
 .introinfomation p{
   font-family: cursive;
   min-width: 50%;
   font-size: 1em;

 }
 .introinfomation:hover {
  font-size: 1.2em;
  }

 /* Slideshow container */
 .slideshow-container {
   max-width: 1000px;
   position: relative;
   margin: auto;
 }

  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  .text-block {
  position: absolute;
  bottom: 10px;
  right: 5px;
  background-color: antiquewhite;
  color: black;
  font-family: cursive;
  padding-left: 10px;
  padding-right: 5px;
  margin-left: 0;
  margin-right: 0;
}

@media screen and (min-width: 540px) {
  .flex-container{
   display: flex;
  }

   .intropicture:hover .overlay {
     opacity: 1;
   }

}
