body{
  background-position: center;
  text-align: center;
  background-image: url("Image/plain paper rustic.jpg");
  background-attachment: fixed;
  min-height: 500px;
  height: auto;
  background-position: center;
  background-size: cover;
  margin:  0 0 55px 0;
}

.loading{
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
}
.loading img {
  width: 50%;
  height: 50%;
}

.transition-1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  background-image: url('Image/backgrounddaisy.jpg');
  background-size: contain;
  opacity: 0;
  pointer-events: none;
  transition: 0.75s ease-out;
}

.transition-1.is-active {
  pointer-events: all;
  opacity: 1;
}

.transition-2.is-active {
  pointer-events: none;
  opacity: 0;
}

.wrapper{
  width: 100%;
  margin: 0 auto;
}
.header{
  display: flex;
 }

.header img{
   display: block;
   height: 100%;
   width: 100%;
   margin-left: auto;
   margin-right: auto;
 }
nav{
 bottom: 0;
 width: 100%;
 height: 8%;
 background-color: antiquewhite;
 display: block;
}
/* dispaly menu at bottom of screen, does not move*/
.one {
  position: fixed;
}
/* remove menu for big screen*/
.two{
  display: none;
}
/* change menu colour to page on */
nav .current {
  background-color: Wheat;

}

.menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a {
 color: black;
 font-size: 175%;
 font-family: cursive;
 text-decoration: none;
}


@media screen and (min-width: 730px) {

.header img{
   display: block;
   height: 100%;
   width:730px;
   margin-left: auto;
   margin-right: auto;
 }
}

@media screen and (min-width: 540px) {

  .two{
    display: block;
  }
  .one{
    display: none;

  }

 .slideshow-container {
   max-width: 75%;
 }
}
